{
  "username": "你的学号",
  "password": "你的密码",
  "wifi_ssid": "SEU-WLAN",
  "login_ip": "http://202.119.25.2",
  "not_sign_in_title": "上网登录页",
  "result_return": "\"result\":\"1\"",
  "signed_in_title": "注销页",
  "check_interval": 5,
  "reconnect_delay": 3,
  "max_retry": 3,
  "auto_start_service": false,
  "start_minimized": false
}
